.doctor-perfil {
    position: relative;
    border-radius: 50%;
    overflow: hidden;
	display: inline-block;
    border: 2px solid #1D8183;
    margin: 5px;
}
.data-container {
    position: absolute;
    width: 100%;
    height: auto;
    background: #5AD6D6;
    height: 100%;
    top: -600px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    transition: 0.3s .3s;
    cursor: pointer;
}
.doctor-perfil:hover .data-container {
    top: 0px !important;
}
.splide {
    padding: 1em;
}
h4.perfil-name {
   font-size: 18px;
    color: white;
    font-family: inherit;
    line-height: 1;
    margin-bottom: 0;
    text-align: center;
    font-weight: 700;
}
p.perfil-profesion {
    font-size: 15px;
    color: white;
    margin-bottom: 0;
    text-align: center;
    line-height: 1.2;
}
p.perfil-especialidad {
    color: #1D8183;
    font-size: 13px;
    font-weight: 400;
    margin: 0;
    line-height: 1;
    text-align: center;
}
.data-container {
    padding: 30px;
}
.container_doctores .row .col-md-3,
.container_doctores .row .col-md-4,
.container_doctores .row .col-md-5{
   padding: 0 15px;
    display: block;
        float: left;
}
.container_doctores .row {
    display: flex;
    flex-wrap: wrap;
    max-width: 1200px;
    margin: auto;
}
img.doctor-img {
    max-width: 80%;
    width: 80%;
    border: solid #5AD6D6 !important;
    border-radius: 50% !important;
    margin: auto;
    display: block;
    margin-bottom: 10px;
}
.info-content {
    text-align: center;
    margin-bottom: 50px;
}
h4.info-name {
    font-size: 1.5rem;
    font-weight: 700;
    color: #1d8183;
    margin: 0;
    line-height: 1.5;
    margin-bottom: 15px;
}
h5.info-cargo {
    font-size: 20px;
    font-weight: 700;
    margin-top: 0;
    margin-bottom: 5px;
    color: #5AD6D6;
}

@media(max-width:767px){
    .container_doctores .row {
        display: flex;
        flex-direction: column !important;
    }
    .container_doctores .row .col-md-3,
    .container_doctores .row .col-md-4,
    .container_doctores .row .col-md-5
    {
        width: 100%;
        float: left;
        flex: 100%;
    }
   
}

@media (min-width:768px){
    .container_doctores .row .col-md-3,
    .container_doctores .row .col-md-4,
    .container_doctores .row .col-md-5{
        width: 50%;
        max-width: 50%;
        flex: 50%;   
    }

}
@media (min-width:992px){
    .container_doctores .row .col-md-3 {
        width: 33.33%;
        max-width: 33.33%;
        flex: 33.33%;
    }
    .container_doctores .row .col-md-4{
        width: 25%;
        max-width: 25%;
        flex: 25%;
    }
    .container_doctores .row .col-md-5{
        width: 20%;
        max-width: 20%;
        flex:20%;
    }

}